body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  margin: 0;
  line-height: 1.5;
  color: #212529;
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px 12px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dee2e6;
}

.header-logo {
  font-size: 1.4em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #212529;
}

.logo {
  margin-right: 8px;
}

.header-nav {
  display: inline-flex;
  margin-left: auto;
}

.nav-link {
  color: #212529;
  text-decoration: none;
}

.nav-link-padding {
  padding: 8px 0;
}

.nav-link-mr {
  margin-right: 16px;
}

.pricing-header {
  text-align: center;
  padding: 16px;
  margin: 0 auto;
  max-width: 668px;
}

.pricing-title {
  font-size: 3.25em;
  font-weight: 400;
  padding: 0;
  margin: 0 0 8px 0;
}

.pricing-text {
  font-size: 1.25em;
  font-weight: 400;
  margin: 0 0 16px 0;
}

.text-muted {
  color: #212529bf;
}

.cards {
  display: flex;
  gap: 24px;
  margin-bottom: 36px;
}

.card {
  flex-grow: 1;
  width: 33%;
  border: 1px solid #0000002d;
  border-radius: 0.5em;
  text-align: center;
  box-shadow: 0 2px 4px rgba(33, 37, 41, 0.075);
  overflow: hidden;
}

.card-header {
  background-color: #21252908;
  border-bottom: 1px solid #0000002d;
  padding: 16px;
}

.card-selected {
  border: 1px solid #0d6efd;
}

.card-selected .card-header {
  color: #fff;
  background-color: #0d6efd;
  border-bottom: 1px solid #0d6efd;
}

.card-title {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.2;
}

.card-body {
  padding: 16px;
}

.card-price {
  font-size: 2.3em;
  font-weight: 500;
  margin: 0 0 8px 0;
}

.price-small {
  font-size: 0.9em;
  font-weight: 300;
}

ul {
  list-style-type: none;
  display: block;
  padding: 0;
}

.btn {
  width: 100%;
  padding: 8px 16px;
  font-size: 1.25em;
  border-radius: 8px;
}

.btn-free {
  background-color: #fff;
  color: #0d6efd;
  border: 1px solid #0d6efd;
}

.btn-free:hover {
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
}

.btn-paid {
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
}

.btn-paid:hover {
  background-color: #0b5ed7;
}

.comparison-header {
  font-size: 2.4em;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 24px 0;
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table thead tr th {
  border-bottom: thin solid #dee2e6;
  padding-bottom: 10px;
}

.table tbody tr td {
  border-bottom: thin solid #dee2e6;
}

.table tbody tr th {
  border-bottom: thin solid #dee2e6;
  padding: 10px;
}

.table-service {
  width: 34%;
}

.table-plan {
  width: 22%;
}

.text-left {
  text-align: left;
}

.check {
  width: 24px;
  height: 24px;
}

footer {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  margin: 48px 0;
  padding-top: 48px;
  border-top: thin solid #dee2e6;
}

.footer-heading {
  font-weight: 500;
  margin: 0 0 8px 0; 
}

.footer-logo {
  margin-bottom: 8px;
}

.copyright {
  display: block;
  margin-bottom: 16px;
}

footer ul {
  margin: 0;
}

footer li {
  margin-bottom: 4px;
}